<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.okerry.backend.dao.AuthServiceDAO">

    <insert id="insertAuthCode" parameterType="map">
        INSERT INTO mail_auth (target_email, code, expired_date, auth_yn)
        VALUES (#{email}, #{code}, NOW() + INTERVAL 5 MINUTE, 'N');
    </insert>

    <select id="selectEmailAuthCode" parameterType="map" resultType="String">
        SELECT
            CODE
        FROM
            MAIL_AUTH
        WHERE
            TARGET_EMAIL = #{email}
        ORDER BY
            expired_date DESC
        LIMIT 1
    </select>

    <update id="updateEmailAuthStatus">
        UPDATE mail_auth set auth_yn = 'Y' where target_email = #{email} and code = #{code}
    </update>

    <insert parameterType="map" id="insertUser">
        insert into user_mst(email, password, create_date)
        values (#{email}, #{password}, now())
    </insert>

    <select parameterType="map" id="selectEmailCheck">
        select
            count(email)
        from
            user_mst
        where
            email = #{email}
    </select>

    <select parameterType="map" id="selectUser" resultType="map">
        select
            email
            , password
            , auth
            , status
            , login_fail_cnt
            , last_login_date
            , create_date
            , update_date
        from
            user_mst
        where
            email = #{id}
    </select>

    <update parameterType="map" id="actionLogin">
        update
            user_mst
        set
            last_login_date = now()
            , login_fail_cnt = 0
        where
            email = #{id}
    </update>
</mapper>
